:root{
    /* ### Primary */

    --Green: hsl(75, 94%, 57%);

    /* ### Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    background-size: contain;
    display: block;
}
html,body{
    font-family: 'Inter', sans-serif;
    background-color: var(--OffBlack);
    color: var(--White);
    font-size: 14px;
}


.card .container{
    margin: 12.5rem auto;
    width: 90%;
    max-width: 384px;
    background-color: var(--DarkGrey);
    border-radius: .8rem;
}
.profile-img{
    
    padding:3rem 0 2.2rem 0;
    width: 21%;
    margin:0 auto
}
.profile-img img{
    border-radius: 50%;
}

.profile-name{
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    gap: 1.2rem;
}
.profile-name h1{
    font-weight: 700;
    margin-bottom: 1rem;
}
.profile-name p{
    font-weight: 600;
    color: var(--Green);
    font-size: 14px;
}
.about{
    margin-top: 2.1rem;
    text-align: center;
    margin-bottom: 2.1rem;
}
.about p{
    font-weight: 400;
    padding: 0 2rem;
    font-size:14px;
}
.profile-link-group{
    /* border: 1px solid red; */
    padding: 0 1.5rem;
    padding-bottom: 2.7rem;
}
 a{
    text-decoration: none;
    display: block;
}
.profile-link{
    margin-bottom: 1.1rem;
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
    color: var(--White);
    background-color: var(--Grey);
    border-radius: .5rem;
    /* border: 1px solid red; */
    /* height: 3.2rem; */
}

.profile-link:hover{
    background-color: var(--Green);
    transition: .5s;
    color: var(--OffBlack);
    caret-color: black;
}

/* input{
    caret-color: black;
} */



